* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: black;

}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(66, 91%, 78%);
}

.container {
    position: relative;
}

.clock {
    background-color: yellow;
    border: 3px solid rgb(195, 195, 108);
    box-shadow: 3px 3px #ffe100, -1em 0 .4em olive;
    ;
    width: 420px;
    height: 420px;
    border-radius: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock span {
    position: absolute;
    transform: rotate(calc(30deg* var(--i)));
    inset: 20px;
    text-align: center;

}

.clock span h2 {
    display: inline-block;
    transform: rotate(calc(-30deg* var(--i)));

}

.clock::before {
    content: '';
    position: absolute;
    background-color: black;
    border-radius: 70%;
    width: 10px;
    height: 10px;
    z-index: 10;
}

.move {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.move h3 {
    position: absolute;
    border-radius: 5px;
    background-color: var(--color);
    width: 7px;
    height: var(--height);
}